<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rick.agileitticket"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

        <!-- Support Android 2.3+. -->
        <uses-sdk android:minSdkVersion="22" />

        <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
        <uses-feature android:name="android.hardware.camera" android:required="false"/>
        <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
        <!-- TODO replace above two with next line after Android 4.2 -->
        <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
        <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
        <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
        <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
        <uses-feature android:name="android.hardware.wifi" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:supportsRtl="true"
        android:label="@string/app_name">
        <activity
            android:name="com.example.rick.agileitticket.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.rick.agileitticket.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/scanner_item_name">
        </activity>

        <activity android:name="com.example.rick.agileitticket.AgendaActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/agenda_item_name"
            android:parentActivityName="com.example.rick.agileitticket.MainActivity" >
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="fullSensor"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ea1b2163957cedd1b271711e2a2817d6a9094685" />
    </application>

</manifest>